@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap');


.row { max-width: 1200px; margin: 0 auto; padding: 0 10px; }
input { outline: none; }
textarea { outline: none; }


#header { background: linear-gradient(to right, #009a78, #c11d8e, #ffedaf); color: rgba(255, 255, 255, 0.4); text-align: center; font-family: 'Bodoni Moda', serif; 
          width: 100%; height: 100%;  position: fixed; top:0; left: 0; z-index: 99; animation: opening 1s both 0.5s ease-in-out; box-shadow: 1px 1px 5px #ddd; }
#header h1 { position: absolute; bottom: 15px; font-size: 30px; padding-top: 0px; transition: all 0.8s; font-weight: bold; animation: light 4s both infinite;}
#header h1:hover { color: rgba(255, 255, 255, 1); }
#header h1 span { font-size: 18px; }
#header .depth1 { position: absolute; bottom: 0px; left: 40%; }
#header .depth1 li { position: relative; display: inline-block;  margin: 20px 35px; transition: all 0.8s; font-weight: bold; color: rgba(255, 255, 255, 0.6); }
#header .depth1 li.on { color: #fff; border-bottom: 1px solid #fff; padding-bottom: 5px; }
#header .depth1 li::after { content: ''; position: absolute; top: 50%; left: 100%; transform: translateY(-50%) skew(-45deg); width: 1px; height: 30px; 
                            background: rgba(255, 255, 255, 0.6); margin-left: 35px; }
#header .depth1 li:nth-child(4)::after { display: none; }
/* #header .depth1 li:hover { color: rgba(255, 255, 255, 1); }          */


#section .article1 { background: url(../img/205.jpg) no-repeat center;  height: 100vh; color: #fff; position: relative; font-family: 'Bodoni Moda', serif; 
                     background-color: #fff; background-size: 60%;  }
#section .article1 > div { position: absolute; top: 48%; left: 50%; transform: translate(-50%); font-weight: bold;}
#section .article1 h2 { font-size: 100px; animation: bounce 3s both 2s infinite; text-shadow: 2px 2px 3px #ddd; }

#section .article1 .arrow {  font-size: 30px; text-align: right; margin-right: -600px; margin-top: 200px; }
#section .article1 .arrow i { animation: ani 1s infinite; color: rgb(193, 29, 142, 0.5);  }
@keyframes ani {  0% {  } 100% { opacity: 0; transform: scale(1.5); } }

#section .article2 { margin-top: 200px; border-top: 2px solid #ddd; position: relative; height: 100vh; }
#section .article2::before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: linear-gradient(to right, rgb(0, 154, 120, 0), rgb(0, 154, 120, 0.5)); 
                             transform: skew(-45deg) translate(-1600px); box-shadow: 2px 2px 5px #ddd; }
#section .article2 .row {  }
#section .article2 .in { float: left; width: 30%; margin-top: 150px; margin-bottom: 150px; }
#section .article2 .inboxtxt {   transform: skew(45deg); width: 50%; }
#section .article2 .inboxtxt > h2 { font-size: 70px; font-weight: bold; transform: skew(-45deg); text-shadow: 1px 1px 5px #333;  }
#section .article2 .intxt { color: #333; }
#section .article2 .intxt > h3 { font-size: 25px; margin-top: 150px; margin-left: 30px; font-weight: bold; text-shadow: 1px 1px 2px #999; }
#section .article2 .intxt > p { font-size: 13px; text-align: center; margin-top: 30px; margin-right: 150px; line-height: 1.5; text-shadow: 1px 1px 2px #999; }
#section .article2 .into { margin-top: 150px; margin-bottom: 150px; float: right; width: 70%; padding-left: 150px; }
#section .article2 .into .intotxt { margin: 30px 0; }
#section .article2 .into .intotxt h3 { font-size: 30px; font-weight: bold; margin-bottom: 15px; position: relative; }
#section .article2 .into .intotxt h3::before { content: ''; width: 8px; height: 25px; position: absolute; top: 50%; right: 100%; transform: translateY(-50%); 
                                               background: rgb(0, 154, 120, 0.3); margin-right: 12px; margin-top: 2px; }
#section .article2 .into .intotxt p { margin-top: 20px; line-height: 2; font-size: 15px; }
#section .article2 .into span { color: #999; }

.article3 { }
.article3 .stylebox > h2 { font-size: 70px; font-weight: bold; text-shadow: 2px 2px 5px #333; position: relative; padding-top: 100px; }
.article3 .stylebox > h2::before { content: ''; position: absolute; top: 89%; left: 26.3%; width: 4px; height: 30px; background:rgb(193, 29, 142, 0.8); transform: skew(-45deg); }
.article3 .stylebox > h2::after { content: ''; position: absolute; top: 105%; left: 10%; width: 180px; height: 3px; background:rgb(193, 29, 142, 0.8); }
.article3 .imgbox {  }
.article3 .imgbox ul { position: relative; }
.article3 .imgbox ul::before { content:''; position: absolute; top: 57.6%; left: -21px; width: 103.5%; height: 2px; background: rgb(193, 29, 142, 0.3); box-shadow: 5px 5px 10px #888; }
.article3 .imgbox li { float: left; width: 31%; box-shadow: 5px 5px 10px #ddd; line-height: 0; border-radius: 10px; }
.article3 .imgbox li a { overflow: hidden; display: inline-block; border-radius: 10px; }
.article3 .imgbox li img { transition: all 0.6s; }
.article3 .imgbox li:hover img { transform: scale(1.1); }
.article3 .imgbox li:nth-child(2) { position: relative; }
.article3 .imgbox li:nth-child(2)::before { content: ''; position: absolute; top: 0; right: 105%; width: 2px; height: 262px; background: rgb(193, 29, 142, 0.3); box-shadow: 5px 5px 10px #888; }
.article3 .imgbox li:nth-child(3) { position: relative; }
.article3 .imgbox li:nth-child(3)::before { content: ''; position: absolute; top: 0; left: 105%; width: 2px; height: 262px; background: rgb(193, 29, 142, 0.3); box-shadow: 5px 5px 10px #888; }
.article3 .imgbox li:nth-child(4) { position: relative; }
.article3 .imgbox li:nth-child(4)::before { content: ''; position: absolute; top: -8%; right: 105%; width: 2px; height: 263px; background: rgb(193, 29, 142, 0.3); box-shadow: 5px 5px 10px #888; }
.article3 .imgbox li:nth-child(6) { position: relative; }
.article3 .imgbox li:nth-child(6)::before { content: ''; position: absolute; top: -8%; right: 105%; width: 2px; height: 265px; background: rgb(193, 29, 142, 0.3); box-shadow: 5px 5px 10px #888; }
.article3 .imgbox li:nth-child(2), .article3 .imgbox li:nth-child(5) { margin-left: 3.5%; margin-right: 3.5%; }
.article3 .imgbox li:nth-child(1), .article3 .imgbox li:nth-child(2), .article3 .imgbox li:nth-child(3) { margin-top: 100px; }
.article3 .imgbox li:nth-child(4), .article3 .imgbox li:nth-child(5), .article3 .imgbox li:nth-child(6) { margin-top: 40px;}
.article3 .stylebox .imgbox li img { width: 100%; }

.article4 { margin-top: 300px; margin-bottom: 300px; }
.article4 .stylebox > h2 { font-size: 70px; font-weight: bold;  text-shadow: 2px 2px 5px #333; position: relative; padding-top: 100px; }
.article4 .stylebox > h2::before { content: ''; position: absolute; top: 89%; left: 15.5%; width: 4px; height: 30px; background:rgb(212, 172, 235, 1); transform: skew(-45deg); }
.article4 .stylebox > h2::after { content: ''; position: absolute; top: 105%; left: 6%; width: 100px; height: 3px; background:rgb(212, 172, 235, 1); }
.article4 .skillContainer { margin-top: 200px; }
.article4 .skill { position: relative; margin-bottom: 50px; font-weight: bold; }
.article4 .score { position: absolute; top: 0; left: 10%; width: 80%; background: rgba(221, 221, 221, 0.3); border-radius: 20px; box-shadow: 2px 2px 5px #999; }
.article4 .myscore { text-align: center; position: relative; height: 20px; }
.article4 .myscore span { position: absolute; bottom: 100%; left: 100%; }
.skillContainer .html .myscore {  background: linear-gradient(to right, rgb(212, 172, 235, 0.5), rgb(212, 172, 235, 1)); animation: htmlani 1s both 1s; width: 0%; border-radius: 20px; }
.skillContainer .css .myscore {  background: linear-gradient(to right, rgb(212, 172, 235, 0.5), rgb(212, 172, 235, 1)); animation: cssani 1s both 1.5s; width: 0%; border-radius: 20px; }
.skillContainer .script .myscore {  background: linear-gradient(to right, rgb(212, 172, 235, 0.5), rgb(212, 172, 235, 1)); animation: scriptani 1s both 1.5s; width: 0%; border-radius: 20px; }
.skillContainer .jquery .myscore {  background: linear-gradient(to right, rgb(212, 172, 235, 0.5), rgb(212, 172, 235, 1)); animation: jqueryani 1s both 2s; width: 0%; border-radius: 20px; }
.skillContainer .react .myscore {  background: linear-gradient(to right, rgb(212, 172, 235, 0.5), rgb(212, 172, 235, 1)); animation: reactani 1s both 2.5s; width: 0%; border-radius: 20px; }

.article5 .stylebox > h2 { font-size: 70px; font-weight: bold; text-shadow: 2px 2px 5px #333; position: relative; padding-top: 100px; }
.article5 .stylebox > h2::before { content: ''; position: absolute; top: 89%; left: 34.2%; width: 4px; height: 30px; background:rgb(193, 29, 142, 0.8); transform: skew(-45deg); }
.article5 .stylebox > h2::after { content: ''; position: absolute; top: 105%; left: 18%; width: 180px; height: 3px; background:rgb(193, 29, 142, 0.8); }
.article5 .form1 { width: 70%;  margin: 150px auto 150px; }
.article5 .form1 legend { display: none; }
.article5 .form1 p { padding: 15px 0; }
.article5 .form1 label { width: 150px; display: inline-block; vertical-align: middle; font-weight: bold; }
.article5 .form1 p:nth-of-type(4) label { vertical-align: middle; }
.article5 .form1 input { border: 1px solid #999; padding: 10px 5px; font-size: 16px; width: calc(90% - 150px); border: none; background: rgba(221, 221, 221, 0.3); 
                         box-shadow: 2px 2px 5px #999; border-radius: 20px; text-align: center; }
.article5 .form1 input::placeholder { text-align: center; font-size: 13px; }
textarea::placeholder { text-align: center; font-size: 13px; line-height: 150px; }
.article5 .form1 #memo { width: calc(90% - 150px); height: 150px; vertical-align: middle; border: none; background: rgba(221, 221, 221, 0.3); box-shadow: 2px 2px 5px #999; 
                         border-radius: 20px; padding: 0 10px; font-size: 16px; }
textarea { resize: none; }
.article5 .form1 #attach { border: none; }
.article5 .form1 P:nth-of-type(5) { text-align: center; margin-top: 30px; }
.article5 .form1 P:nth-of-type(5) button { padding: 15px 220px; font-size: 20px; margin-left: 80px; border-radius: 20px; color: #fff; border: none; transition: all 0.3s; 
                                           cursor: pointer; box-shadow: 2px 2px 5px #999; }
.article5 .form1 P:nth-of-type(5) button:hover { transform: scale(1.1); }
.article5 .form1 P:nth-of-type(5) button[type=submit] { background: rgba(109, 132, 255, 1); }


.sns { position: fixed; bottom: 50px; right: 50px; width: 150px; height: 40px; text-align: center; font-size: 20px; animation: sns 2s both infinite;
       background: linear-gradient(to right,rgb(193, 29, 142, 0.4), rgb(193, 29, 142, 0.6),rgb(193, 29, 142, 0.8)); color: rgba(255, 255, 255, 0.8); line-height: 40px; border-radius: 20px; }
.sns a { margin: 0 8px; transition: all 0.5s; }
.sns a:hover { color: rgba(255, 255, 255, 1); font-weight: bold; }

@keyframes htmlani { 0%{ width: 0%; opacity: 0; } 100% { width: 80%; opacity: 1; } }
@keyframes cssani { 0%{ width: 0%; opacity: 0; } 100% { width: 70%; opacity: 1; } }
@keyframes scriptani { 0%{ width: 0%; opacity: 0; } 100% { width: 50%; opacity: 1; } }
@keyframes jqueryani { 0%{ width: 0%; opacity: 0; } 100% { width: 60%; opacity: 1; } }
@keyframes reactani { 0%{ width: 0%; opacity: 0; } 100% { width: 50%; opacity: 1; } }
/* .opening { background: #000; position: fixed; top: 0; left: 0; right: 0; bottom: 0;  z-index: 999; animation: opening1 2s both ease-in-out;}
.opening::after { content: ''; height: 100vh; background: #999; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 999; animation: opening 2s both ease-in-out; }

@keyframes opening{ 
    0%{  } 
    100% { transform: translate(-100%); }  } */
@keyframes opening {
    0% { height: 100%; }
    100% { height: 6%; }
}
@keyframes sns {
    0% {  }
    100% { transform: scale(1.1); }
}
@keyframes light {
    0% {  }
    100% { color: rgba(255, 255, 255, 1); }
}